<h1>Album Photos</h1>

<table>
  <thead>
    <tr>
      <th>Album</th>
      <th>Avatar</th>
      <th>Photo name</th>
      <th>Tag line</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @album_photos.each do |album_photo| %>
      <tr>
        <td><%= album_photo.album_id %></td>
        <td><%= album_photo.avatar %></td>
        <td><%= album_photo.photo_name %></td>
        <td><%= album_photo.tag_line %></td>
        <td><%= link_to 'Show', album_photo , class: 'btn btn-primary'%></td>
        <td><%= link_to 'Edit', edit_album_photo_path(album_photo) , class: 'btn btn-primary'%></td>
        <td><%= link_to 'Destroy', album_photo, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-primary'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album Photo', new_album_photo_path , class: 'btn btn-primary'%>
